body
{
    
    justify-content: center;
     align-items: center;
     min-height: 100vh;
      width: 100%;
  
 display: flex;
 background-image: url(loginbg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center;
  

}
.form-box1
{
    display: flex;
    position: relative;
    overflow: hidden;
    width:405px;
    height:455px;
    justify-content: center;
     align-items: center;
    background: rgba(100, 0, 0, 0.5);
   
    border-radius: 30px;
   

}


.form-box1::before
{
content: "";

position: absolute;
width:200px;
height:1000px;
background: linear-gradient(#00ccff,#d400d4);
animation: animate 4s linear infinite;

}
@keyframes animate {
    0%
    {
     transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.form-box
{
   
   
    width:400px;
    height:450px;
    justify-content: center;
     align-items: center;
   
   z-index: 10;
   
   background-image: url(login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  

    border-radius: 15px;
    position: relative;



}









.input-field:focus

{
    margin-bottom: 8px;
    
}

h2{
    font-size: 2em;
    color: white;
    text-align: center;
    position: relative;
   
}
.inputbox
{
   
    margin:30px 20px;
    width:300px;
    height: 50px;
    align-items: center; 
    justify-content: center;
    
    background-color: #fff;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    position: relative;
  
   
}

.form-box label
{
    color:#fff;
   
    font-size: 1em;
    pointer-events: none;
  
    color: black;
    bottom: 0px; 
   padding-top: 4px;
    margin-left: 40px;
    position: relative;
 

}
.box
{
    display:flex;
    border-bottom: 2px solid black;
    width: 54%;
   
    position: relative;
  
    
}

.input-field
{

width: 100%;
height: 20px;

font-size: 1em;
outline: none;
box-shadow: none;
border: none;
margin-top: 4px;

position: relative;



}
.inputbox i
{

    right: 8px;
    color:black;
    font-size: 1.5em;
    bottom: 2px;
    margin-right: 20px;
    position: relative;
    

}
.forget
{
    text-align: center;
    color: #fff;
    font-size: 1em;
    line-height:1cm;
    accent-color: red;
    position: relative;
    

}
.forget a{
    font-weight: bold;
    color: #fff;
    position: relative;
    
   
}
.wel
{

width:100px;
height: 35px;

margin-left: 3cm;
color:black;
background-color: #fff;
font-size: 1em;
border-radius: 30px;
position: relative;


}
.register
{
    font-size: 1em;
    color: #fff;
    text-align: center;
    position: relative;
    

}
/*.flower
{
    width:100px;
    height:100px;
    background-color: #d400d4;
    position: absolute;
  animation:ani 2s linear 0s infinite ;
  animation-play-state: paused;
 
}
@keyframes ani {
    0%
    {
        transform: rotate(0deg);
       
    }
    100%
    {
        transform: rotate(360deg);
      
    }
  
}
.flower:hover
{
    animation-play-state:running;
}
.flower
{
    width:100px;
    height:100px;
    background-color: #d400d4;
    position: absolute;
    transition: transform 2s;
}

.flower:hover
{
   transform: rotate(360deg);
}
*/




